@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;

}
.section{
  width: 100%;
  height: 100vh;
  /* background-color: #5a5a5a; */

  color: black;
}
.one{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  text-align: center;

  background-image: url("../../assets/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}
.apresentacao{
  animation: float 2s ease-in-out infinite;
  text-shadow: 0.1em 0.1em 0.2em rgb(102, 99, 99)
}



.apresentacao h1{
  font-size: 6vh;
}
.apresentacao p{
  font-size: 3vh;
}
strong{
  color: #78348A;
}
@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-10px);
    }
}
.circ{
  position: absolute;
  background-color: #1B1F2A;
  bottom: 0;
  border-radius: 50%;
  width: 5vh;
  padding: 3vh;

  animation: float .5s ease-in-out infinite;


}
.circ img{
  width: 100%;
}

.logo{
  top: 0;
  left: 0;
}
.logo img{
  width: 55vh;
  position: absolute;


}
#logoE{
  top: 39vh;
  position: absolute;
  left: 0;
}
#logoD{
  bottom: 39vh;
  position: absolute;
  right: 0;
}



.two{
  background-color: #1B1F2A;
  /* clip-path: circle(100% at 50% 5%); */
  clip-path: circle(5% at 50% 8.5%);


  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card h1{
  font-size: 6vh;
  color: #fff;
  text-align: center;

}
.card ul{
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.card li{
  background-color: #D9D9D9;
  width: 35%;
  padding: 5vh;
  border-radius: 25px;
  margin: 2vh;
}




/* ------------------ */
/* zoom */
.tree{
  display: flex;
  height: auto;
  justify-content: space-around;
  background-color: #1B1F2A;
  position: sticky;
  top: 0;
}
.left{
  width: 50%;
  height: auto;
  background-color: #1B1F2A;

}
.left section{
  height: 100vh;

  position: sticky;
  top: 0;

}
.left1{
  background-color:cornflowerblue;
}
.left2{
  background-color: gray;
}
.left3{
  background-color: chocolate;
}
.rigth{

  width: 40%;
  height: 100vh;
  position: sticky;
  top: 0;

  overflow: hidden;

}
.foto{
  width: 100%;
  height: 100%;
  background-image: url(https://www.voicesofyouth.org/sites/voy/files/images/2020-08/finding-sunshine.jpg);
  background-size: cover;
  background-position: center;
  /* transform: scale(1.5); */
  transform-origin: 100% 0% ;
} 




@media screen and (max-width: 767px){
  .apresentacao{
    z-index: 9;
    color: #ffff;
    text-shadow: 0.1em 0.1em 0.2em rgb(58, 54, 54)

  }
  strong{
    text-shadow: 0.1em 0.1em 0.2em rgba(88, 88, 88, 0.384)

  }
  .rigth{
    width: 48%;
  }
  .card h1{
    font-size: 4vh;
  }
  .card li{
    width: 80%;
    padding: 3vh;
  }
  #logoE{
    top: 30vh;
    left: -10vh;
    filter: brightness(0.8)
  }
  #logoD{
    bottom: 30vh;
    right: -10vh;
    filter: brightness(0.7)
  }
  
}